.page_container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.page_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}